<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jny.webview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".webviewProgress.ui.DynamicWebViewActivity"
            android:exported="true"
            android:theme="@style/DynamicWebViewActivity"/>

        <service
            android:name=".mainProgress.MainProcessCommandService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".webviewProgress.ui.WebViewActivity"
            android:exported="true"
            android:process=":MyWebViewActivity" />
    </application>

</manifest>