<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hc.base">

    <application>
        <activity
            android:name=".activity.ContentActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StitchingActivity"
            android:theme="@style/bg_transit_activity"
            android:exported="true" />
    </application>

</manifest>