<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hc.android_demo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.test.framework.CustomHandlerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.test.framework.MvpsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.test.view.LongViewImageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.test.view.PhotoViewActivity"
            android:exported="true"
            android:theme="@style/bg_transit_activity" />
        <activity
            android:name=".activity.test.view.CustomNestedScrollViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.test.view.FullScreenDialogActivity"
            android:exported="true" />
        <activity
            android:name=".activity.test.view.NestedScrollViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.test.view.DrawerLayoutActivity"
            android:exported="true"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.test.view.MaterialViewActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".activity.test.view.MaterialDesignActivity"
            android:exported="true" />
        <activity
            android:name=".activity.test.view.CoordinateLayoutActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.test.view.CustomLayoutActivity" />
        <activity
            android:name=".activity.test.view.FishActivity"
            android:theme="@style/FishActivityTheme" />
        <activity android:name=".activity.test.view.VerticalDrawerRecyclerViewActivity" />
        <activity android:name=".activity.test.view.SlideMenuActivity" />
        <activity android:name=".activity.test.view.LetterActivity" />
        <activity android:name=".activity.test.view.RatingBarActivity" />
        <activity android:name=".activity.test.view.ProgressActivity" />
        <activity android:name=".activity.test.view.TextActivity" />
        <activity android:name=".activity.test.view.GridImageLayoutActivity" />
        <activity android:name=".activity.test.view.LazyActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenLayout"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>